# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
ENV/
*.log

# Uploads & Results
static/uploads/
static/results/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Flask
instance/
.env